<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Campa Holic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link href="/assets/img/tent.jpg" rel="icon">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/assets/css/login.css">
	</head>

	<body>

		<div class="wrapper" style="background:rgba(0,0,0,0.20)url('/assets/img/plan.jpg'); background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-blend-mode: darken;">
			<div class="inner">
				<div class="image-holder">
					<img src="/assets/img/lo.jpg" alt="">
				</div>
				<form method="post">
					{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
					<h3 style="color:#026b04; margin-bottom: 120px;" >Login</h3>
					
					
					<div class="form-wrapper">
						<input type="email" value="{{ last_username }}" name="email" placeholder="Email " class="form-control">
						<i class="zmdi zmdi-email"></i>
					</div>
					
					<div class="form-wrapper">
						<input type="password" placeholder="Mot De Passe" name="password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<input type="hidden" name="_csrf_token"
					value="{{ csrf_token('authenticate') }}"
					 >
					<button type="submit" style="background-color:#026b04; margin-bottom:40px;">Login
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
 <p class="w-100 text-center" ><a  style="text-decoration:none; margin-left:120px; color:#026b04; " href="/register">s'inscrire!</a></p>
				</form>
               
			</div>
           
		</div>
         
		<script src="/aasets/js/jquery.min.js"></script>
  <script src="/aasets/js/popper.js"></script>
  <script src="/aasets/js/bootstrap.min.js"></script>
  <script src="/aasets/js/main2.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>