
<!DOCTYPE html>
<html>
    <head>
        <meta.charset="UTF-8" ./>
        <title>Inscription</title>
        
       

  <link rel="stylesheet" href="/assets/css/loginuser.css"/>
  </head>
        
        
        
   
 
<body >
        <div class="containerr">
           
            <div class="header">
                
                <div class="h1" >
                    <h1>Inscription</h1>
                </div>
                
              

                

           </div> 
           <div class="main">
              {{ form_start(registrationForm) }}
                <span>
                   
                    {{ form_row(registrationForm.username) }}
                    <!--<input type="text" placeholder="Username" name="" required>!-->
                    
                </span><br>
                <span>
                    
                    <!--<input type="password"  placeholder="Password" name="" required>!-->
                     {{ form_row(registrationForm.userlastname) }}

                     
                </span><br>
                <span>
                    
                    <!--<input type="password"  placeholder="Password" name="" required>!-->
                     {{ form_row(registrationForm.email) }}

                     
                </span><br>
                <span>
                    
                    <!--<input type="password"  placeholder="Password" name="" required>!-->
                     {{ form_row(registrationForm.adresse) }}

                     
                </span><br>
                <span>
                    
                    <!--<input type="password"  placeholder="Password" name="" required>!-->
                     {{ form_row(registrationForm.numtel) }}

                     
                </span><br>
                <span>
                    
                    <!--<input type="password"  placeholder="Password" name="" required>!-->
                     {{ form_row(registrationForm.agreeTerms) }}

                     
                </span><br>
                <span>
                    
                    <!--<input type="password"  placeholder="Password" name="" required>!-->
                     {{ form_row(registrationForm.plainPassword) }}

                     
                </span><br>
               
                <button type="submit" >S'inscrire</button>
                
                

              
{{ form_end(registrationForm) }}

           </div>

        </div>
        
    </body>
    </html>

{#
{% block body %}
<body class="body">
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
         {{ form_row(registrationForm.username) }}
         {{ form_row(registrationForm.userlastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.numtel) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </body>
{% endblock %}


#}