<!DOCTYPE html>
<html lang="en">

	
<!-- Mirrored from jthemes.net/themes/html/harmony-event/event-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 16:34:41 GMT -->
<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Harmoni - Event Details</title>
		<link rel="shortcut icon" href="/assets/images/favicon.png">

		<!-- fraimwork - css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

		<!-- icon css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css">

		<!-- carousel css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">

		<!-- others css include -->
		<link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/calendar.css">

		<!-- color switcher css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/colors/style-switcher.css">
		<link id="color_theme" rel="stylesheet" type="text/css" href="/assets/css/colors/default.css">
         <link href="/assets/img/icon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <link href="/assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    <link href="/assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">


		<!-- icon css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css">

		<!-- carousel css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">

		<!-- others css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/calendar.css">

		<!-- color switcher css include -->
		<link id="color_theme" rel="stylesheet" type="text/css" href="/assets/css/colors/default.css">
        <link href="/assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">


		<!-- custom css include -->
		<link rel="stylesheet" type="text/css" href="/assets/css/prog.css">
        
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        
        <link href="/assets/css/theme.css" rel="stylesheet">
		

	</head>


	<body class="default-header-p">




		
		





		<!-- header-section - start
		================================================== -->
		<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Camping</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">Qui sommes-Nous?</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Activités</a></li>
          <li><a class="nav-link scrollto " href="{{path('app_programme')}}">Liste de programme</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Conseils</a></li>
          {# <li><a class="nav-link scrollto" href="#team">Team</a></li> #}
          {# <li><a href="blog.html">Blog</a></li> #}
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
          <li><a class="getstarted scrollto" href="{{path('app_login')}}">Se connecter</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
       
        <div class="account-wrap">
         {% if is_granted('ROLE_USER')%}
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/uploads/personne/{{app.user.userImage}}" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ app.user.Username }} {{ app.user.userlastname }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/uploads/personne/{{app.user.userImage}}" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ app.user.Username }} {{ app.user.userlastname }}</a>
                                                    </h5>
                                                    <span class="email">{{ app.user.email }}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{{path('app_userprofile')}}">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{{ path('app_logout') }}">
                                  
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %} 
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
		<!-- header-section - end
<!-- breadcrumb-section - start 
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(/assets/img/m.jpg);">
				<div class="overlay-black">
					<section id="event-search-section" class="event-search-section clearfix" >
			<div class="container">
				<div class="row">
<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									
									<h2 class="big-title">détails du programme</h2>
								</div>
								<!-- breadcrumb-title - end -->

								

							</div>
						</div>
					
					
					
				</div>
			</div>
		</section>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->



		<!-- altranative-header - start
		================================================== -->
		<div class="header-altranative">
			<div class="container">
				<div class="logo-area float-left">
					<a href="index-1.html">
						<img src="/assets/img/1.site-logo.png" alt="logo_not_found">
					</a>
				</div>

				<button type="button" id="sidebarCollapse" class="alt-menu-btn float-right">
					<i class="fas fa-bars"></i>
				</button>
			</div>

			<!-- sidebar menu - start -->
			<div class="sidebar-menu-wrapper">
				<div id="sidebar" class="sidebar">
					<span id="sidebar-dismiss" class="sidebar-dismiss">
						<i class="fas fa-arrow-left"></i>
					</span>

					<div class="sidebar-header">
						<a href="#!">
							<img src="/assets/img/2.site-logo.png" alt="logo_not_found">
						</a>
					</div>

					<!-- sidebar-form - start -->
					<div class="sidebar-form">
						<form action="#">
							<input id="altmenu-sidebar-search" type="search" placeholder="Search">
							<label for="altmenu-sidebar-search"><i class="fas fa-search"></i></label>
						</form>
					</div>
					<!-- sidebar-form - end -->

					<!-- main-pages-links - start -->
					<div class="menu-link-list main-pages-links">
						<h2 class="menu-title">all home pages</h2>
						<ul>
							<li>
								<a href="index-1.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									Home V.1
								</a>
							</li>
							<li>
								<a href="index-2.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									Home V.2
								</a>
							</li>
							<li>
								<a href="index-3.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									Home v.3
								</a>
							</li>
							<li>
								<a href="index-4.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									Home v.4
								</a>
							</li>
						</ul>
					</div>
					<!-- main-pages-links - end -->

					<!-- other-pages-links - start -->
					<div class="menu-link-list other-pages-links">
						<h2 class="menu-title">all single pages</h2>
						<ul>
							<li>
								<a href="about.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									About Us
								</a>
							</li>
							<li>
								<a href="service.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									our Services
								</a>
							</li>
							<li>
								<a href="event-1.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									event list
								</a>
							</li>
							<li class="active">
								<a href="event-2.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									event grid
								</a>
							</li>
							<li>
								<a href="event-1-without-sidebar.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									list without sidebar
								</a>
							</li>
							<li>
								<a href="event-2-without-sidebar.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									grid without sidebar
								</a>
							</li>
							<li>
								<a href="blog.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									Latest blogs
								</a>
							</li>
							<li>
								<a href="gallery.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									our gallery
								</a>
							</li>
							<li>
								<a href="speaker.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									event speakers
								</a>
							</li>
							<li>
								<a href="contact.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									contact us
								</a>
							</li>
						</ul>
					</div>
					<!-- other-pages-links - end -->

					<!-- inner-pages-links - start -->
					<div class="menu-link-list inner-pages-links">
						<h2 class="menu-title">all inner pages</h2>
						<ul>
							<li>
								<a href="booking.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									event booking
								</a>
							</li>
							<li>
								<a href="event-details.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									event details
								</a>
							</li>
							<li>
								<a href='blog-details.html'>
									<span class="icon"><i class="fas fa-home"></i></span>
									blog details
								</a>
							</li>
							<li>
								<a href="faq.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									Frequently Ask Qusetion
								</a>
							</li>
							<li>
								<a href="404-error.html">
									<span class="icon"><i class="fas fa-home"></i></span>
									404 error
								</a>
							</li>
						</ul>
					</div>
					<!-- inner-pages-links - end -->

					<!-- login-btn-group - start -->
					<div class="login-btn-group">
						<ul>

							<li>
								<a href="#alt-register-modal" class="register-modal-btn">
									Register
								</a>
								<div id="alt-register-modal" class="reglog-modal-wrapper register-modal mfp-hide clearfix" style="background-image: url(/assets/images/login-modal-bg.jpg);">
									<div class="overlay-black clearfix">

										<!-- leftside-content - start -->
										<div class="leftside-content">
											<div class="site-logo-wrapper mb-80">
												<a href="#!" class="logo">
													<img src="/assets/img/2.site-logo.png" alt="logo_not_found">
												</a>
											</div>
											<div class="register-login-link mb-80">
												<ul>
													<li><a href="#!">Login</a></li>
													<li class="active"><a href="#!">Register</a></li>
												</ul>
											</div>
											<div class="copyright-text">
												<p class="m-0">©2018 <a href="#!" class="yellow-color">Harmoni.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
											</div>
										</div>
										<!-- leftside-content - end -->

										<!-- rightside-content - start -->
										<div class="rightside-content text-center">

											<div class="mb-30">
												<h2 class="form-title title-large white-color">Account <strong>Register</strong></h2>
												<span class="form-subtitle white-color">Have an account? <strong>LOGIN NOW</strong></span>
											</div>

											<div class="login-form text-center mb-50">
												<form action="#!">
													<div class="form-item">
														<input type="email" placeholder="User Name">
													</div>
													<div class="form-item">
														<input type="password" placeholder="Password">
													</div>
													<div class="form-item">
														<input type="email" placeholder="Repeat Password">
													</div>
													<div class="form-item">
														<input type="password" placeholder="Email Address">
													</div>
													<div class="human-verification text-left">
														<input type="checkbox" id="alt-imnotarobot">
														<label for="alt-imnotarobot">I'm not a robot</label>
														<span class="verification-image">
															<img src="/assets/img/iamnotrobot.png" alt="Image_not_found">
														</span>
													</div>
													<button type="submit" class="login-btn">login now</button>
												</form>
											</div>

											<div class="bottom-text white-color">
												<p class="m-0">
													* Denotes mandatory field.
												</p>
												<p class="m-0">** At least one telephone number is required.</p>
											</div>

										</div>
										<!-- rightside-content - end -->

										<a class="popup-modal-dismiss" href="#!">
											<i class="fas fa-times"></i>
										</a>

									</div>
								</div>
							</li>
							<li>
								<a href="#alt-login-modal" class="login-modal-btn">
									Login
								</a>
								<div id="alt-login-modal" class="reglog-modal-wrapper mfp-hide clearfix" style="background-image: url(/assets/img/login-modal-bg.jpg);">
									<div class="overlay-black clearfix">

										<!-- leftside-content - start -->
										<div class="leftside-content">
											<div class="site-logo-wrapper mb-80">
												<a href="#!" class="logo">
													<img src="/assets/img/2.site-logo.png" alt="logo_not_found">
												</a>
											</div>
											<div class="register-login-link mb-80">
												<ul>
													<li class="active"><a href="#!">Login</a></li>
													<li><a href="#!">Register</a></li>
												</ul>
											</div>
											<div class="copyright-text">
												<p class="m-0">©2018 <a href="#!" class="yellow-color">Harmoni.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
											</div>
										</div>
										<!-- leftside-content - end -->

										<!-- rightside-content - start -->
										<div class="rightside-content text-center">

											<div class="mb-30">
												<h2 class="form-title title-large white-color">Account <strong>Login</strong></h2>
												<span class="form-subtitle white-color">Login to our website, or <strong>REGISTER</strong></span>
											</div>

											<div class="fb-login-btn mb-30">
												<a href="#!">
													<span class="icon">
														<i class="fab fa-facebook-f"></i>
													</span>
													login with facebook
												</a>
											</div>

											<div class="or-text mb-30">
												<span>or sign in</span>
											</div>

											<div class="login-form text-center mb-50">
												<form action="#!">
													<div class="form-item">
														<input type="email" placeholder="example@gmail.com">
													</div>
													<div class="form-item">
														<input type="password" placeholder="Password">
													</div>
													<button type="submit" class="login-btn">login now</button>
												</form>
											</div>

											<div class="bottom-text white-color">
												<p class="m-0">
													* Denotes mandatory field.
												</p>
												<p class="m-0">** At least one telephone number is required.</p>
											</div>

										</div>
										<!-- rightside-content - end -->

										<a class="popup-modal-dismiss" href="#!">
											<i class="fas fa-times"></i>
										</a>

									</div>
								</div>
							</li>
							
						</ul>
					</div>
					<!-- login-btn-group - end -->

					<!-- social-links - start -->
					<div class="social-links">
						<h2 class="menu-title">get in touch</h2>
						<div class="mb-15">
							<h3 class="contact-info">
								<i class="fas fa-phone"></i>
								100-2222-9999
							</h3>
							<h3 class="contact-info">
								<i class="fas fa-envelope"></i>
								info@harmoni.com
							</h3>
						</div>
						<ul>
							<li>
								<a href="#!"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li>
								<a href="#!"><i class="fab fa-twitter"></i></a>
							</li>
							<li>
								<a href="#!"><i class="fab fa-twitch"></i></a>
							</li>
							<li>
								<a href="#!"><i class="fab fa-google-plus-g"></i></a>
							</li>
							<li>
								<a href="#!"><i class="fab fa-instagram"></i></a>
							</li>
						</ul>
						<a href="contact.html" class="contact-btn">contact us</a>
					</div>
					<!-- social-links - end -->

					<div class="overlay"></div>
				</div>
			</div>
			<!-- sidebar menu - end -->
		</div>
		<!-- altranative-header - end
		================================================== -->







		




		<!-- event-details-section - start
		================================================== -->
		<section id="event-details-section" class="event-details-section sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- col - event-details - start -->
                     {% for demand in demande %}
					<div class="col-lg-8 col-md-12 col-sm-12">

						<!-- event-details - start -->
						<div class="event-details mb-80">
     
							<div class="event-title mb-30">
								
								<h2 class="event-title"><strong>{{demand.titre}}</strong></h2>
							</div>

							<div id="event-details-carousel" class="event-details-carousel owl-carousel owl-theme">
								<div class="item">
									<img src="/uploads/personne/{{demand.photo}}" alt="Image_not_found">
								</div>
								<div class="item">
									<img src="/uploads/personne/{{demand.photo}}" alt="Image_not_found">
								</div>
								<div class="item">
									<img src="/uploads/personne/{{demand.photo}}" alt="Image_not_found">
								</div>
							</div>

							<div class="event-info-list ul-li clearfix mb-50">
								<ul>
									<li>
										<span class="icon">
											<i class="far fa-calendar"></i>
										</span>
										<div class="event-content">
											<small class="event-title">Date</small>
											<h3 class="event-date">{{demand.date}}</h3>
										</div>
									</li>
									<li>
										<span class="icon">
											<i class="far fa-clock"></i>
										</span>
										<div class="event-content">
											<small class="event-title">Heure De Départ</small>
											<h3 class="event-date">{{demand.heure}}</h3>
										</div>
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-map-marker-alt"></i>
										</span>
										<div class="event-content">
											<small class="event-title">Destination</small>
											<h3 class="event-date">{{demand.Dis}}</h3>
										</div>
									</li>
								</ul>
							</div>

							<p class="black-color mb-30">
								{{demand.discription}}
							</p>

							

						</div>
                        {% endfor %}
						<!-- event-details - end -->
						<style>
						.mod1{
  background-color: #026b04;
  color: white;
  padding: 10px;
  border-radius: 10px;
  
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.mod1:hover{
  background-color: #42a743;
}
						</style>
						<!-- modal start  -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header" style="background-color:#026b04;" >
        <h4 class="modal-title" style="  text-align: center; margin-left:100px ; color:#fff;">Ajouter le nombre des places</h4>
          <button type="button" class="close" data-dismiss="modal" style="color:#fff;">&times;</button>
          
        </div>
        <div class="modal-body">
		{% for demand in demande %}
          {{ form_start(form) }}
          {{ form_row(form.nombreplace) }}
		  <a href="{{path('programme_details', {'id': demand.id}) }}  "> <button type="submit" class="mod1" style="margin-left:385px; margin-top:20px;" >Réserver</button></a>
         
          {{ form_end(form) }}
		  {% endfor %}
          
        </div>
        
      </div>
      
    </div>
  </div>
						<!-- modal End -->

						
						<!-- register-wrapper - start -->
						<div class="register-wrapper mb-80 clearfix">
{% for demand in demande %}
							<div class="section-title text-left mb-50">
								<span class="line-style"></span>
								<button type="button" " class="custom-btn" data-toggle="modal" data-target="#myModal" style="margin-left:300px;">Réserver Maintenant</button>
								
{% endfor %}
							

						</div>
						<!-- register-wrapper - end -->

						<!-- reviewer-comment-wrapper - start -->
						<div class="reviewer-comment-wrapper mb-30 clearfix">

							<div class="section-title text-left mb-50">
								<h2 class="big-title">Event <strong>reviews</strong></h2>
							</div>

							<div class="comment-bar clearfix">
								<div class="admin-image">
									<img src="/assets/images/admin.png" alt="Image_not_found">
								</div>
								<div class="comment-content">
									<div class="admin-name mb-15">
										<div class="rateing-star ul-li clearfix">
											<ul>
												<li class="rated"><i class="fas fa-star"></i></li>
												<li class="rated"><i class="fas fa-star"></i></li>
												<li class="rated"><i class="fas fa-star"></i></li>
												<li class="rated"><i class="fas fa-star"></i></li>
												<li class="rated"><i class="fas fa-star"></i></li>
											</ul>
										</div>
										<div class="name">
											<a href="#!">john doe</a>
										</div>
									</div>
									<div class="comment-text">
										<p class="mb-30">
											Brilliant production.  Enjoyed this as it captured so many emotions and being Irish some bits resonated with Irish families, the craic, singing.  Fantastic acting and so many surprises.
										</p>

										<div class="meta-wrapper">
											<div class="btn-group-left float-left">
												<span class="title"><i class="fas fa-heart"></i> Helpful?</span>
												<ul>
													<li><button type="button">Yes</button></li>
													<li><button type="button">No</button></li>
												</ul>
											</div>
											<div class="btn-group-right float-right">
												<ul>
													<li><button type="button"><i class="fas fa-reply-all"></i> Replay</button></li>
													<li><button type="button"><i class="fas fa-share-square"></i> Share</button></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- reviewer-comment-wrapper - end -->

						<div class="pagination ul-li clearfix mb-80">
							<ul>
								<li class="page-item prev-item">
									<a class="page-link" href="#">Prev</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">01</a></li>
								<li class="page-item active"><a class="page-link" href="#">02</a></li>
								<li class="page-item"><a class="page-link" href="#">03</a></li>
								<li class="page-item"><a class="page-link" href="#">04</a></li>
								<li class="page-item"><a class="page-link" href="#">05</a></li>
								<li class="page-item next-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>

						<!-- comment-form - start -->
						<div class="comment-form clearfix">

							<div class="section-title text-left mb-50">
								<h2 class="big-title">write a <strong>comment</strong></h2>

								<div class="rateing-star-wrapper">
									<span class="rating-title float-left">Your Rating:</span>
									<div class="rateing-star-form float-right">
										<form action="#">

											<div class="form-check clearfix">
												<input type="checkbox">
											</div>
											<div class="form-check clearfix">
												<input type="checkbox">
											</div>
											<div class="form-check clearfix">
												<input type="checkbox">
											</div>
											<div class="form-check clearfix">
												<input type="checkbox">
											</div>
											<div class="form-check clearfix">
												<input type="checkbox">
											</div>

										</form>
									</div>
								</div>

							</div>

							<div class="form-wrapper">
							{# <form action="{{ path('comment_add') }}" method="post" role="form" class="php-email-form"> #}
								 <form action="https://jthemes.net/themes/html/harmony-event/contact.php"> 
									<div class="row">

										<!-- form-item - start -->
										<div class="col-lg-4 col-md-6 col-sm-12">
											<div class="form-item mb-30">
												<input type="text" name="name" placeholder="Your Name" required>
											</div>
										</div>
										<!-- form-item - end -->

										<!-- form-item - start -->
										<div class="col-lg-4 col-md-6 col-sm-12">
											<div class="form-item mb-30">
												<input type="email" name="email" placeholder="Your Email Address" required>
											</div>
										</div>
										<!-- form-item - end -->

										<!-- form-item - start -->
										<div class="col-lg-4 col-md-12 col-sm-12">
											<div class="form-item mb-30">
												<input type="tel" name="phone" placeholder="Your Phone" required>
											</div>
										</div>
										<!-- form-item - end -->

										<!-- form-item - start -->
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="mb-30">
												<textarea name="message" placeholder="Your Comment" required></textarea>
											</div>
											<button type="submit" class="custom-btn">SUBMIT NOW</button>
										</div>
										<!-- form-item - end -->

									</div>
								</form>
							</div>

						</div>
						<!-- comment-form - end -->

					</div>
					<!-- col - event-details - end -->

					<!-- sidebar-section - start -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="sidebar-section">

							<!-- Add to Calendar - start -->
							<div title="Add to Calendar" class="addeventatc">
								Add to Calendar
								<span class="start">06/18/2015 09:00 AM</span>
								<span class="end">06/18/2015 11:00 AM</span>
								<span class="timezone">Europe/Paris</span>
								<span class="title">Summary of the event</span>
								<span class="description">Description of the event</span>
								<span class="location">Location of the event</span>
								<span class="organizer">Organizer</span>
								<span class="organizer_email">Organizer e-mail</span>
								<span class="all_day_event">false</span>
								<span class="date_format">MM/DD/YYYY</span>
							</div>
							<!-- Add to Calendar - end -->

							<!-- map-wrapper - start -->
							<div class="map-wrapper mb-30">

								<!-- section-title - start -->
								<div class="section-title mb-30">
									<h2 class="big-title">event <strong>location</strong></h2>
								</div>
								<!-- section-title - end -->

								<div id="google-map">
									<div id="googleMaps" class="google-map-container"></div>
								</div>

							</div>
							<!-- map-wrapper - end -->

							

							

							<!-- spacial-event-wrapper - start -->
							<div class="spacial-event-wrapper text-center" style="background-image: url(/assets/images/spacial-event-bg.jpg);">
								<div class="overlay-black">
									<p class="sub-title white-color mb-30">26 DECEMBER 2018</p>
									<h2 class="title-large white-color mb-30">
										AMSTERDAM
										<strong class="yellow-color">PHP CONFERENCE</strong>
									</h2>
									<a href="#!" class="custom-btn">booking ticket</a>
								</div>
							</div>
							<!-- spacial-event-wrapper - end -->
							
						</div>
					</div>
					<!-- sidebar-section - end -->
					
				</div>
			</div>
		</section>
		<!-- event-details-section - end
		================================================== -->





			<!-- default-footer-section - start
		================================================== -->
	<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Camping</h3>
              <p>
               Cité Taffala (Ibn Khaldoun)  <br>
                4003 Sousse Tunisie<br><br>
                <strong>Phone:</strong> +216 99 041 166<br>
                <strong>Email:</strong> camping@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <style>
section{
    padding:0px
}
</style>

{#  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>
#}
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
          
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Camping</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        {# Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> #}
      </div>
    </div>	
		</footer>
		<!-- default-footer-section - end
		================================================== -->


<script>
$(document).on("click","#cust_btn",function(){
  
  $("#myModal").modal("toggle");
  
})
</script>




		<!-- fraimwork - jquery include -->
		<script src="/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>

		<!-- carousel jquery include -->
		<script src="/assets/js/slick.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>

		<!-- map jquery include -->
		<script src="/assets/js/gmap3.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?key=AIzaSyC61_QVqt9LAhwFdlQmsNwi5aUJy9B2SyA"></script>

		<!-- calendar jquery include -->
		<script src="/assets/js/atc.min.js"></script>

		<!-- others jquery include -->
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<script src="/assets/js/jarallax.min.js"></script>
		<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- gallery img loaded - jqury include -->
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

		<!-- multy count down - jqury include -->
		<script src="/assets/js/jquery.countdown.js"></script>

		<!-- color panal - jqury include -->
		<script src="/assets/js/style-switcher.js"></script>

		<!-- custom jquery include -->
		<script src="/assets/js/custom.js"></script>
        <!-- fraimwork - jquery include -->
		<script src="/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>

		<!-- carousel jquery include -->
		<script src="/assets/js/slick.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>

		<!-- map jquery include -->
		<script src="/assets/js/gmap3.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?key=AIzaSyC61_QVqt9LAhwFdlQmsNwi5aUJy9B2SyA"></script>

		<!-- calendar jquery include -->
		<script src="/assets/js/atc.min.js"></script>

		<!-- others jquery include -->
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<script src="/assets/js/jarallax.min.js"></script>
		<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- gallery img loaded - jqury include -->
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

		<!-- multy count down - jqury include -->
		<script src="/assets/js/jquery.countdown.js"></script>

		<!-- custom jquery include -->
		<script src="/assets/js/custom.js"></script>
 <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

   <!-- Jquery JS-->
    <script src="/assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/assets/vendor/slick/slick.min.js">
    </script>
    <script src="/assets/vendor/wow/wow.min.js"></script>
    <script src="/assets/vendor/animsition/animsition.min.js"></script>
    <script src="/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/assets/vendor/select2/select2.min.js">
    </script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
   <script src="/assets/js/mai.js"></script>





	</body>

<!-- Mirrored from jthemes.net/themes/html/harmony-event/event-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 16:34:44 GMT -->
</html>